:root {
  // --max-width: 1100px;
  // --border-radius: 12px;
  // --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  //   'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  //   'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // --foreground-rgb: 0, 0, 0;
  // --background-start-rgb: 214, 219, 220;
  // --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: yar) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    // --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    // --secondary-glow: linear-gradient(
    //   to bottom right,
    //   rgba(1, 65, 255, 0),
    //   rgba(1, 65, 255, 0),
    //   rgba(1, 65, 255, 0.3)
    // );

    // --tile-start-rgb: 2, 13, 46;
    // --tile-end-rgb: 2, 5, 19;
    // --tile-border: conic-gradient(
    //   #ffffff80,
    //   #ffffff40,
    //   #ffffff30,
    //   #ffffff20,
    //   #ffffff10,
    //   #ffffff10,
    //   #ffffff80
    // );

    // --callout-rgb: 20, 20, 20;
    // --callout-border-rgb: 108, 108, 108;
    // --card-rgb: 100, 100, 100;
    // --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-family-inter);
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);

  @include dark {
    
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input, textarea {
  &:focus {
    border-color: #d3b0ff;
  }
}

.menu-item {
  padding: 10px 8px;
  border-radius: 8px;
  
  &:hover {
    background-color: #efe3ff;
  }
}

.tab-list {
  border-radius: 8px;

  &::before {
    border: none !important;
  }

  // background-color: #efe3ff;
}

.tab-root {}

.tab-button {
  border-radius: 8px !important;
  border: none !important;
  padding: 16px 0 !important;
  font-weight: 550;
  color: #8c36fa !important;

  &:hover {
    background: #efe3ff;
  }

  &[data-active] {
    background-color: #8c36fa;
    color: var(--mantine-color-white) !important;

    &:hover {
      background-color: #8c36fa;
    }
  }
}

.dropzone {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  border: 1px dashed var(--mantine-color-gray-3);
  border-radius: rem(12);
  margin: auto 20px;

  &:hover {
    cursor: pointer;
    border-color: #d3b0ff;
  }
}

.hidden-scroll-bar {
  &::-webkit-scrollbar {
    /*For WebKit Browsers*/
    width: 0;
  }
}

.app-card {
  padding: var(--mantine-spacing-xs) !important;
  transition: 0.1s;
  
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.app-create-button {
  animation: bounceOut 2s linear infinite;

  &:hover {
    cursor: pointer;
    animation: none;
    transform: scale(1.2);
  }
}

.create-buttons {
  position: relative;
  z-index: 100;
  margin: 0 140px;
  transform: scale(0);

  &:hover {
    transform: translateY(-3px);
    transition: 0.5s ease-in-out;
  }
}

.app-button-clicked {
  animation: fadeIn 0.2s ease;
  transform-origin: bottom right;
  transform: scale(1);
}

.app-button-unclicked {
  animation: fadeOut 0.2s ease;
  transform-origin: bottom right;
}

.combobox-input {
  height: 45px !important;
  border-radius: 10px !important;

  &:focus {
    border-color: #d3b0ff;
  }
}

.combobox-root-input {
  min-width: 20% !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes bounceOut {

  0%,
  100% {
    transform: scale(1.2);
  }

  20%,
  60% {
    transform: scale(1.1);
  }

  40%,
  80% {
    transform: scale(1.05);
  }
}

//SUCCESS MODAL
.dummy-positioning {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
}


// The icon specifics
// Variables
$green: #4cc93f;
$icon-base-size: 20px;

// Structure
.success-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  font-size: $icon-base-size;
  border-radius: 50%;
  border: 4px solid lighten($green, 20%);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}

// Elements
.success-icon {

  &__tip,
  &__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: lighten($green, 20%);
    border-radius: 10px;
  }

  &__tip {
    width: 1.5em;
    // top: 0;
    // left: 12px;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;
  }

  &__long {
    width: 4em;
    transform: rotate(-45deg);
    top: 3.70em;
    left: 2.75em;
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;
  }

}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: -2.8em;
    left: -2.5em;
  }

  to {
    width: 1em;
    top: 1.5em;
    left: 0.5em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 2.7em;
    left: 1.5em;
  }

  to {
    width: 1.5em;
    top: 1.3em;
    left: 1em;
    visibility: visible;
  }
}

//APP LOADER
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}


//LOADING COMPONENT
.loading {
  $colors: #efe3ff, #d3b0ff, #bf8eff, #a762ff, #7119e2;
  margin-top: 40px;
  display: flex;
  justify-content: center;

  .dot {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    margin: 0.5em;
    border-radius: 50%;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      animation: wave 2s ease-out infinite;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: nth($colors, $i);

        &::before {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }
}

@keyframes wave {

  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}