.tabList {
  border-radius: 8px;

  &::before {
    border: none;
  }
  // background-color: #efe3ff;
}

.tabRoot {
  
}

.tabButton {
  border-radius: 8px;
  border: none;
  padding: 16px 0;
  font-weight: 550;
  color: #8c36fa;

  &:hover {
    background: none;
  }

  &[data-active] {
    background-color: #8c36fa;
    color: var(--mantine-color-white);

    &:hover {
      background-color: #8c36fa;
      color: var(--mantine-color-white);
    }
  }
}

.comboboxOption {
  &:hover {
    background-color: #efe3ff;
  }
}

.comboboxOptionSelected {
  background-color: #8c36fa;
  color: var(--mantine-color-white);

  &:hover {
    background-color: #8c36fa;
    color: var(--mantine-color-white);
  }
}

.comboboxInput {
  height: 45px;
  &:focus {
    border-color: #d3b0ff;
  }
}

.hiddenScrollBar {
  &::-webkit-scrollbar {
    /*For WebKit Browsers*/
    width: 0;
  }
}

.banner {
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }

  .bannerImage {
    z-index: 1;
    &:hover {
      transition: 0.2s;
      transform: scale(1.05);
      border-radius: rem(10);
    }
  }
}

.nextArrow {
  width: 48px;
  height: 48px;
  background-color: var(--mantine-color-dark-8);
  opacity: 0.3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  position: absolute;
  top: 40%;
  right: 0;
  z-index: 2;

  &:hover {
    opacity: 0.5;
  }
}

.prevArrow {
  width: 48px;
  height: 48px;
  background-color: var(--mantine-color-dark-8);
  opacity: 0.3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  position: absolute;
  top: 40%;
  z-index: 2;

  &:hover {
    opacity: 0.5;
  }
}

.placeholder {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--mantine-color-gray-4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: "50% 50%";
    border-radius: var(--mantine-radius-md);
  }
}