.banner {
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }

  .bannerImage {
    &:hover {
      transition: 0.2s;
      transform: scale(1.05);
      border-radius: rem(10);
    }
  }
}

.control {
  border: none;
  background-color: #8c36fa;
  color: white;

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.indicator {
  width: 16px;
  height: 16px;
  background-color: #fff;

  &:hover {
    background-color: #8c36fa;
  }

  &[data-active] {
    background-color: #8c36fa;
  }
}

.comboboxInput {
  height: 45px;
  border-radius: 10px;
  margin-top: 6px;


  &:focus {
    border-color: #d3b0ff;
  }
}

.placeholder {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--mantine-color-gray-4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: "50% 50%";
    border-radius: var(--mantine-radius-md);
  }
}