$border-color: #d3b0ff;

.headerNormal {
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: 0.2s ease;
  max-width: 100%;
  top: 0;
  border-bottom: 2px solid var(--mantine-color-gray-2);
  height: 70px;
  padding: 0 var(--mantine-spacing-md);

  input:focus {
    border-color: #d3b0ff;
  }
}

.headerScroll {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  position: fixed;
  z-index: 999;
  width: calc(100% - calc(var(--mantine-navbar-width, 0px) + 2rem));
  height: 70px;
  transition: 0.2s ease;
  max-width: 100%;
  top: 0;
  right: 1rem;
  border-bottom: 2px solid var(--mantine-color-gray-2);
  // box-shadow: var(--mantine-shadow-xs);
  height: unset;
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;

  background-color: #d3b0ff;

  input:focus {
    border-color: #d3b0ff;
  }
}

.logo {
  width: 164px;
}

.connectWallet {
  height: 45px;
}

.avatar {
  border: 2px solid transparent;
  border-radius: 50%;
  animation: bounceOut 2s linear infinite;
}

@keyframes bounceOut {
  0%,
  100% {
    box-shadow: 0 0 0 3px $border-color;
  }

  20%,
  60% {
    box-shadow: 0 0 0 2px $border-color;
  }

  40%,
  80% {
    box-shadow: 0 0 0 1px $border-color;
  }
}