$border-color: #d3b0ff;

.headerNormal {
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: 0.2s ease;
  max-width: 100%;
  top: 0;
  border-bottom: 2px solid var(--mantine-color-gray-2);
  height: 70px;
  padding: 0 var(--mantine-spacing-md);

  input:focus {
    border-color: #d3b0ff;
  }
}

.headerScroll {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  position: fixed;
  z-index: 99;
  width: calc(100% - calc(var(--mantine-navbar-width, 0px) + 1.5rem));
  transition: 0.2s ease;
  max-width: 100%;
  top: 0;
  right: 1rem;
  // border-bottom: 2px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-xs);
  height: unset;
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;
  
  // background: #d3b0ff !important;
  // will-change: scroll-position;

  input:focus {
    border-color: #d3b0ff;
  }
}

.logo {
  width: 164px;
}

.connectWallet {
  height: 45px;
}

.avatar {
  border: 2px solid transparent;
  border-radius: 50%;
  animation: bounceOut 2s linear infinite;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  font-size: 15px;
  margin-bottom: var(--mantine-spacing-xs);

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
    cursor: pointer;

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {

    &,
    &:hover {
      background-color: #efe3ff;
    }
  }

  @include smaller-than($mantine-breakpoint-md) {
    padding: var(--mantine-spacing-sm) 0;
    justify-content: center;
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);

  @include smaller-than($mantine-breakpoint-md) {
    margin-right: 0;
  }
}

@keyframes bounceOut {
  0%,
  100% {
    box-shadow: 0 0 0 3px $border-color;
  }

  20%,
  60% {
    box-shadow: 0 0 0 2px $border-color;
  }

  40%,
  80% {
    box-shadow: 0 0 0 1px $border-color;
  }
}