.navbar {
  padding: var(--mantine-spacing-xs);
  height: 100%;
  width: rem(240px);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  @include smaller-than($mantine-breakpoint-md) {
    width: rem(70px);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    display: none;
  }
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.footer {
  border-top: 2px solid var(--mantine-color-gray-2);
  padding-top: var(--mantine-spacing-md);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  font-size: 15px;
  margin-bottom: var(--mantine-spacing-xs);

  &:hover {
    background-color: #efe3ff;
    color: var(--mantine-color-black);
    cursor: pointer;

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #8c36fa;
      color: var(--mantine-color-white);

      .linkIcon {
        color: var(--mantine-color-white);
      }
    }
  }

  @include smaller-than($mantine-breakpoint-md) {
    padding: var(--mantine-spacing-sm) 0;
    justify-content: center;
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);

  @include smaller-than($mantine-breakpoint-md) {
    margin-right: 0;
  }
}